/* resetando */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* menu */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: ghostwhite;
  }
  
  div:first-child {
    flex-grow: 0;
  }
  
  div:last-child {
    flex-grow: 1;
  }
  
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 4px;
    padding-left: 5px;
  }
  
  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
      color: blue;
  }

 

.tamanhologo {
    width: 150px;
    height: 150px;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  /* flex logo + texto */
   
  /* Flex */
.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-item-1 {
	flex: 1;
}

/* Flex Item */
.item {
	text-align: center;
	font-size: 1.5em;
   
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

/* efeito logo primeira pagina */

.fade
{
        opacity:0.5;
}
.fade:hover
{
        opacity:1;
}


/* inicio nossos serviços */ 

.texto-principal {
  text-align: justify-all;
  font-size: large;
}

.vermelho {
  color: brown;
  font-weight: bold;
}

.wrapper {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  margin-left: 5%;
}


.imagemp {
  width: 300px;
  height: 300px;
  
}

.shrink:hover
{
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}

.imagemt {
  width: 300px;
  height: 400px;
}

.button {
  transition-duration: 0.4s; 
}

.button:hover {
  background-color: #4CAF50; /* cor que aparece quando passar o mouse */
  color: white;
}

/* Flex Item */
.itemm {
	text-align: left;
	font-size: 1em;
   
}

.grande {
  font-size: 1.5em;
}

/* inicio pagina localizacao */

.verde {
  color:darkblue;
}

.negrito {
  font-weight: bold;
}

.box_form {
	width:500px;
	height:400px;
	padding-left: 50px;
	
}


/* inicio pagina contato  */

.imagemi {
  width: 40px;
  height: 40px;
}

.grande {
  font-size: xx-large;
}

/* inicio pagina novidades  */
.desc {
  margin-left: 5%;
  font-size: large;
}

.blackgrande {
  width: 400px;
  height: 400px;
  
}

.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

